<%= form_for (@list) do |f| %>
<div class="name">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="description">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="products_ids">
  <%= f.label :product_ids %>
  <%= f.text_field :product_ids %>
</div>
<div class="submit">
  <%= f.submit "Create" %>
</div>
<% end %>
