<p>
	<%= notice %>
</p>
<h1 class='rest-in-place' data-url="/lists/<%=@list.id%>" data-object='list' data-placeholder='Enter Name' data-attribute='name'><%=@list.name%></h1>
<div class='rest-in-place' data-url="/lists/<%=@list.id%>" data-object='list' data-placeholder='Enter Descr' data-attribute='description'><%=@list.description%></div>
<%= link_to "Edit List", edit_list_path(@list) %>
<% if @list.products.count > 0%>
	<table id="products">
		<thead>
			<tr>

				<% @list.products.first.attributes.each_key do |cell| %>
					<th>
						<%= cell %>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%@list.products.each do |product|%>
				<tr>
					<%product.attributes.each_value do |cell|%>
						<td><%=cell%></td>
					<%end%>
					<td>
						<%= link_to "Product", product_path(product) %>
					</td>
					<td>
						<a href="/lists/<%=@list.id%>/remove_product_id/<%=product.id%>">Remove from List</a>

					</td>
				</tr>
				<%end%>
		</tbody>
	</table>
	<% else  %>
<%end %>
