<p>
	<%= notice %>
</p>
<h1><%=@list.name%></h1>
<div><%=@list.description%></div>
<%= link_to "Edit List", edit_list_path(@list) %>
<% if @list.products.count > 0%>
	<table id="products">
		<thead>
			<tr>

				<% @list.products.first.attributes.each_key do |cell| %>
					<th>
						<%= cell %>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<%@list.products.each do |product|%>
				<tr>
					<%product.attributes.each_value do |cell|%>
						<td><%=cell%></td>
					<%end%>
					<td>
						<%= link_to "Product", product_path(product) %>
					</td>
				</tr>
				<%end%>
		</tbody>
	</table>
	<% else  %>
<%end %>
