<h1>Product#index</h1>
<div id="product import">
	<%= form_tag import_products_path, multipart: true do %>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Import"%>
	<% end -%>
</div>

<table>
	<thead>
		<% @productHeaders.each do |header|%>
			<th><%=header%></th>
		<%end%>
	</thead>
	<tbody>
		<% @products.each do |product|%>
			<tr>
				<% product.attributes.each do |k,v|%>
					<td class='rest-in-place' data-url='/products/<%=product.id%>' data-object='product' data-attribute='<%=k%>'>
						<%= v %>
					</td>
				<%end%>
			</tr>
		<%end%>
	</tbody>
</table>
