<h1>Product#index</h1>
<div id="product import">
	<%= form_tag import_products_path, multipart: true do %>
	  <%= file_field_tag :file%>
	  <%= submit_tag "Import"%>
	<% end -%>
</div>

<table id="products" data-source="<%= products_url(format: "json") %>">
	<thead>
		<% @productHeaders.each do |header|%>
			<th><%=header%></th>
		<%end%>
	</thead>
	<tbody>

	</tbody>
</table>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<% @productHeaders.each do |header|%>
			<th><%=header%></th>
		<%end%>
	<tr>
	<% @products.each do |product|%>
		<tr>
			<% product.attributes.each_value do |cell|%>
			<td> <%= cell%> </td>
			<%end%>
		</tr>
	<%end%>
</table>
